<div class="container">
  <div class="row">
    <div class= "col-2 px-5 px-sm-0 mt-4">
      <%= render "member/skis/genre", genres: @genres %>
    </div>
    <div class="col-10 mx-auto mt-4 ">
      <h1 class="font-weight-bold"><%= @genre.genre_name %>地方一覧</h1>
        <h3 class="ml-3">
          全<%= @skis.count %>件
        </h3>

      <div class="row">
        <% @skis.each do |ski| %>
          <div class= "col-3">
            <%= link_to ski_path(ski.id)  do %>
              <% if ski.image.attached? %>
                <%= image_tag ski.image, :size => "200x200" %><br/>
              <% else %>
                <%= image_tag 'no_image', size: "200x200" %>
              <% end %>
            <% end %>
            <%= ski.ski_name %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>