<div>
  <p>コメント件数：<%= @ski.reviews.count %></p>
  <% @ski.reviews.each do |review| %>
  <div class="row">
    <%= review.member.name %>
    <%= review.created_at.strftime('%Y/%m/%d') %><%= review.review %>
    <% if review.member == current_member %>
      <%= link_to "削除", ski_review_path(@ski.id, review), method: :delete %>
    <% end %>
  </div>
  <% end %>
</div>
<div>
  <%= form_with model: [@ski, @review] do |f| %>
    <%= f.text_area :review, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>