<div>
  <p>コメント件数：<%= @ski.reviews.count %></p>
  <% @ski.reviews.each do |review| %>
  <div class="row">
    <%= review.member.name %>
    <%= review.created_at.strftime('%Y/%m/%d') %><%= review.review %>
  </div>
  <% end %>
</div>
<div>
  <%= form_with model: [@ski, @review] do |f| %>
    <%= f.text_area :review, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>