<%= render "member/skis/genre", genres: @genres %>
<div class="container">
  <div class="row">
    <% @skis.each do |ski| %>
      <div class= "col-3">
        <%= link_to ski_path(ski.id)  do %>
          <% if ski.image.attached? %>
            <%= image_tag ski.image, :size => "200x200" %><br/>
          <% else %>
            <%= image_tag 'no_image', size: "200x200" %>
          <% end %>
        <% end %>
        <%= ski.ski_name %>
      </div>
    <% end %>
    <% if @skis.empty? %>
    <h4>見つかりませんでした。</h4>
    <% end %>
  </div>
</div>