<div class="container">
  <div class="row">
    <div class="col-3 mb-5">
      <h5 class="text-center bg-light mt-5 ml-5 col-8">スキー場新規登録</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-5 offset-3">
      <%= form_with model: @ski, url: admin_skis_path, local: true do |f| %>
        <form>
          <div class="form-group col-xs-9">
            <%= f.label :スキー場画像, class: "col-sm-2" %>
            <%= f.file_field :image, accept: "image/*" %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :スキー場名, class: "col-sm-2" %>
            <%= f.text_field :ski_name, placeholder: "スキー場名", class: "col-sm-3" %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :説明, class: "col-sm-2 align-top" %>
            <%= f.text_area :explanation, placeholder: "ここに説明文を記述します", class: "col-sm-3", rows:"5" %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :標高, class: "col-sm-2" %>
            <%= f.text_field :elevation, class: "col-sm-3" %>m
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :滑走距離, class: "col-sm-2" %>
            <%= f.text_field :running_distance, class: "col-sm-3" %>m
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :積雪量, class: "col-sm-2" %>
            <%= f.text_field :cover, class: "col-sm-3" %>cm
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :雪質, class: "col-sm-2" %>
            <%= f.text_field :quality, class: "col-sm-3" %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :ジャンル, class: "col-sm-2" %>
            <%= f.collection_select :genre_id, Genre.all, :id, :genre_name, include_blank: "--選択してください--", class: "col-sm-5" %>
          </div>
          <div class="form-group col-8 mx-auto">
            <%= f.submit "新規登録", class: "btn btn-success col-sm-2" %>
          </div>
        </form>
      <% end %>
    </div>
  </div>